<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${service.service_id != null ? 'Редактирование услуги' : 'Добавление услуги'}"></title>
</head>
<body>
<h1>[[${service.service_id != null ? 'Редактирование услуги' : 'Добавление услуги'}]]</h1>
<form th:action="@{${service.service_id != null ? '/admin/services/edit/' + service.service_id : '/admin/services/add'}}" method="post" th:object="${service}" enctype="multipart/form-data">
    <input type="hidden" th:field="*{service_id}">
    <label for="service_name">Название:</label>
    <input type="text" id="service_name" th:field="*{service_name}"><br><br>
    <label for="service_description">Описание:</label>
    <textarea id="service_description" th:field="*{service_description}"></textarea><br><br>
    <label for="service_price">Цены (через запятую):</label>
    <input type="text" id="service_price" th:field="*{service_price}"><br><br>

    </br>
    <input type="file" name="imageFile" accept="image/jpeg">

    </br>
    </br>

    <input type="submit" value="Сохранить">
</form>

<!--<form th:action="@{${service.service_id != null ? '/admin/services/edit/' + service.service_id : '/admin/services/add'}}"-->
<!--      method="post" th:object="${service}" enctype="multipart/form-data">-->
<!--    </br>-->
<!--    <input type="file" name="imageFile" accept="image/jpeg">-->

<!--    </br>-->
<!--    </br>-->
<!--    <input type="submit" value="Сохранить">-->
<!--</form>-->

</body>
</html>
