/* Основные стили */
body {
    font-family: sans-serif; /* Выберите подходящий шрифт */
}



/* Стили для заголовков */
.display-4 {
    font-size: 3em; /* Увеличьте размер главного заголовка */
    margin-bottom: 1em;
}

.h2, .h3 {
    margin-top: 1.5em; /* Добавьте отступы сверху для подзаголовков */
}

/* Стили для текста */
.lead {
    font-size: 1.2em;
}

/* Стили для формы */
.form-label {
    font-weight: bold;
}

.form-control,
.form-select {
    /* Добавьте стили для полей формы и выпадающих списков */
}

.btn-primary {
    /* Стили для кнопок */
}
